
<mat-form-field>
    <input matInput  maxlength="10" (keyup)="applyFilter($event.target.value)" placeholder="Recherche"  >
  </mat-form-field>
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()"
        >
</mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    >
      </mat-checkbox>
      
    </td>
  </ng-container>

  <!-- Delete Column -->
  <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef><button mat-icon-button *ngIf="selection.selected.length >= 2" (click)="deleteUsers(selection.selected)"><mat-icon>delete</mat-icon></button></th>
      <td mat-cell *matCellDef="let user"><button mat-icon-button *ngIf="selection.isSelected(user) && !isAllSelected()" (click)="deleteUser(user)"><mat-icon>delete</mat-icon></button></td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nom</th>
      <td mat-cell *matCellDef="let user"> {{user.name}}</td>
    </ng-container>
  
    <!-- FirstName Column -->
    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef> Prénom </th>
      <td mat-cell *matCellDef="let user"> {{user.firstname}} </td>
    </ng-container>
    <!-- DateNaissance Column -->
    <ng-container matColumnDef="dateNaissance">
      <th mat-header-cell *matHeaderCellDef> Date de Naissance </th>
      <td mat-cell *matCellDef="let user"> {{user.dateNaissance}} </td>
    </ng-container>
    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type</th>
      <td mat-cell *matCellDef="let user"> {{user.type}} </td>
    </ng-container>
  
    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let user"> {{user.email}} </td>
    </ng-container>
    <ng-container matColumnDef="icons">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let user"></td>
    </ng-container>
    <mat-icon>delete</mat-icon>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="selection.toggle(row)" >
    </tr>
  </table>
