table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

tr:hover {
  border: 2px solid;
  padding: 10px;
}

mat-icon {
  cursor: pointer;
  border: 0;
}
button:focus {
  border: 0;
  outline: none;
}
