/*.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  /*}*/

  /*.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
 /* }*/
 .form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}


.messageService{
  color:red;
}
.dark-primary-color    { background: #388E3C; }
.default-primary-color { background: #4CAF50; }
.light-primary-color   { background: #C8E6C9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #009688; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

  